<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
            <h2 class="text-left">Sole Seoul Soul</h2>
            <img src="./img/comingsoon.jpg" alt="Katie Silver about page" class="img-fluid img-thumbnail">
            <div class="row">
                <div class="col-md-12 orange text-left">
                    <p>“Sole Seoul Soul”  tells the story of a suidice victim, Ileum who becomes a reaper after dying. He can't remember his past life and therfore cannot pass on without reaping souls. When he coes to reap his first soul: Joon, Joon screams. Ileum assumes that Joon is afraid of him and runs away before Joon can talk to him. He looks into the mirror and sees the reflection of a monster. The head reaper Deva comes and suggests trying on the shoes of the other passed souls. This changes his appearance so he can be more relatable to the souls he is reaping. However, what Ileum doesn't know is that Joon knew him when they were alive and screamed out of surprise.</p>                         
                </div>
            </div>
        </div>
    </div>
</div>