<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-12 text-center">
            <img src="./img/comingsoon.jpg" alt="Katie Silver about page" class="img-fluid img-thumbnail">
            <div class="row">
                <div class="col-md-12 orange text-left">
                    <p>“Sole Seoul Soul”  is a graphic novel about Ileum, a Grim Reaper messes up his first meeting with his first soul to reap, Joon, causing him to think he is a monster. He uses shoes of past souls as a disguise transforming him into a relatable reaper. He tries to guide Joon and finds out he has struggled with his self-image before.</p>                         
                </div>
            </div>
        </div>
    </div>
</div>