<div class="container">
    <div class="row">
        <div class="col-md-3" id="input">
            <button class="my-btn btn-1" data-src="ileum">Ileum</button>
            <button class="my-btn btn-2" data-src="joon">Joon</button>
            <button class="my-btn btn-3" data-src="deva">Deva</button>
            <button class="my-btn btn-1" data-src="manager">Manager</button>
            <button class="my-btn btn-2" data-src="shine-5">Shine 5</button>
            <button class="my-btn btn-3" data-src="bo-ra">Bo-ra</button>
        </div>
        <div class="col-md-9 text-center" id="output">
            <img src="" id="profile" alt class="img img-fluid img-responsive">
            <p class="orange" id="text">
            </p>
        </div>
    </div>
</div>