<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kathryn Silver</h1>
            <h2>Bio</h2>
            <p>Kathryn Silver was born in Indianapolis Indiana. She earned her BFA in sequential art from SCAD in 2012, has done flatting for comics, freelanced, and self-published several short stories. Her eclectic passions include animals, such as her dog and cat, Dragon Ball Z, and Korean Dramas. She is passionate about telling meaningful stories that evoke emotion. She is currently working her long format comic “Paper Triangle” about drawings coming to life and writing stories about mental health You can find more of her artwork at <a href="http://www.kathrynsilver.com" target="_new">www.kathrynsilver.com</a>  and follow her on facebook at <a href="https://www.facebook.com/Ksilver18/" target="_new">@ksilver18</a>.</p>
            <img src="../img/katie_silver.jpg" alt="it me!" class="img img-portrait">
            <ul>
                <li>Laura Neubert</li>
                <li> Matthew Allbright</li>
                <li>Brittany Smith</li>
                <li>Ken Nimura</li>
                <li>Nathan Fox</li>
                <li>Anelisa Garfunkel</li>
                <li>Ben Zackhem </li>
                <li>Lisa Cron</li>
                <li>Christina Roussos</li>
                <li>MFAVN Class 2019</li>
                <li>Kristen Coulter</li>
                <li>Charlie Silver</li>
                <li>Ink Silver</li>
                <h3>Sponsored by</h3>
                <li>Jerome D Silver. MD</li>
                <li>Stephanie Silver</li>
            </ul>
        </div>
    </div>
</div>
