<div class="row">
    <div class="col-md-12 text-center katie-footer">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <h2 class="fancy-text ">Kathryn Silver</h2>
                        <img src="./img/footer_kaite.jpg" alt="Katie Pencil drawing" class="img-thumbnail">
                    </div>
                    <div class="col-md-5 col-xs-8 offset-xs-2">
                        <h3>Please Contact me!</h3>
                        <p>I would love to discuss working with you please do not hesitate to contact me if you have any questions regarding collaboration</p>
                        <form action="#" class="footer-form">
                            <p><span>Name: *</span> <input type="text" name="fname"></p>
                            <p><span>Subject:</span> <input type="text" name="subject"></p>
                            <p><span>Message:</span><textarea name="text-area" id="" cols="30" rows="5"></textarea></p>
                            <p><span class="error"></span></p>
                            <p><input type="button" value="Send" class="form-btn"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            &copy; 2018-2019 Katie Silver
        </footer>
    </div>
</div>