<!-- content container -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="nav-buttons">
                <div class="row">
                    <div class="col-md-12">
                        <a href="story.html"><button class="my-btn btn-3">Story</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="characters.html"><button class="my-btn btn-2">Characters</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="about.html"><button class="my-btn btn-1">About</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="credits.html"><button class="my-btn btn-3">Credits</button></a>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>
