<!-- content container -->
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="nav-buttons">
                <div class="row">
                    <div class="col-md-12">
                        <a href="../about.html"><button>About</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="../characters.html"><button>Characters</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="../story.html"><button>Story</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="../credits.html"><button>Credits</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="../cavern-of-lost-souls.html"><button>Cavern of Lost Souls</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="../contact.html"><button>Contact</button></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
