.nav.navbar {
    background-color: $color-2;
    width: 100%;
    margin-bottom: 1%;
    
}
.navbar-toggler {
    float: right;
}
.navbar.navbar-expand-lg.navbar-light {
    .navbar-brand, .nav-link {
        color: white !important;
    }
    li {
        display: inline-block;
        margin-left: 15px;
        color: white;
        font-weight: 500;
        line-height: 40px;
    }
    @media screen and (max-width: 991px) {
        width: 85vw;
    }
}