// colors
$background: #1b2733;
$main-font: white;
$nav-background: #1e8bc3;
$content-background: #22313f;
$red: red;
$blue: #1e8bc3;
$color: #260F56;
$color-1: #99F4FF;
$blue-1: rgba(18, 200, 255, 1);
$color-2: #FF7032;
$orange: #FF9400;
$color-4: #FFFFFF;
$neat-colors: rgba(10, 189, 240, 0.298039) 3px 3px 0px, rgba(254, 1, 1, 0.298039) -3px -3px 0px;

// sizes
$p-font: .8rem;
//sizes for media queries
$ipad: 768px;
$fancy-text: 'Amatic SC', cursive;